* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: #00aaff;
  text-transform: uppercase;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #00aaff;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 16px;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input[type="checkbox"] {
  margin-right: 5px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  background-image: linear-gradient(45deg, #00aaff, #8000ff);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

select option {
  background-color: #1a1a1a;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #00aaff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8000ff;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
  background-color: #1a1a1a;
  border: 1px solid #00aaff;
  border-radius: 3px;
  cursor: pointer;
}

input[type="checkbox"]:checked::before {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #00aaff;
}


.confirmation-text {
  display: inline;
  color: #fff;
  align-items: center;
  justify-content: center;
}

input[type="password"] {
  position: relative; 
}

.eye-icon {
  cursor: pointer;
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #bbb;
}

footer {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.contatoFooter{
  text-align: center;
  font-weight: bolder;
  margin-bottom: 30px;
}

.contato-secao {
  margin-top: 10px;
}

.contato-secao a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}

.contato-secao a:hover {
  color: #00aaff;
}